@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: #111827;
}

body {
  background-color: #f3f4f6 !important;
}

input {
  color: #111827 !important;
  background-color: #ffffff !important;
}

select {
  color: #111827 !important;
  background-color: #ffffff !important;
}

input::placeholder {
  color: #9ca3af !important;
}